/* line 12, ../sass/_type.scss */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

/* line 41, ../sass/_type.scss */
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}

/* line 51, ../sass/_type.scss */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 66, ../sass/_type.scss */
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}

/* line 74, ../sass/_type.scss */
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 89, ../sass/_type.scss */
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}

/* line 93, ../sass/_type.scss */
h1,
.h1 {
  font-size: 36px;
}

/* line 97, ../sass/_type.scss */
h2,
.h2 {
  font-size: 30px;
}

/* line 101, ../sass/_type.scss */
h3,
.h3 {
  font-size: 24px;
}

/* line 105, ../sass/_type.scss */
h4,
.h4 {
  font-size: 18px;
}

/* line 109, ../sass/_type.scss */
h5,
.h5 {
  font-size: 14px;
}

/* line 113, ../sass/_type.scss */
h6,
.h6 {
  font-size: 12px;
}

/* line 116, ../sass/_type.scss */
p {
  margin: 0 0 10px;
}

/* line 119, ../sass/_type.scss */
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width: 768px) {
  /* line 126, ../sass/_type.scss */
  .lead {
    font-size: 21px;
  }
}
/* line 131, ../sass/_type.scss */
small,
.small {
  font-size: 85%;
}

/* line 134, ../sass/_type.scss */
cite {
  font-style: normal;
}

/* line 138, ../sass/_type.scss */
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}

/* line 142, ../sass/_type.scss */
.text-left {
  text-align: left;
}

/* line 145, ../sass/_type.scss */
.text-right {
  text-align: right;
}

/* line 148, ../sass/_type.scss */
.text-center {
  text-align: center;
}

/* line 151, ../sass/_type.scss */
.text-justify {
  text-align: justify;
}

/* line 154, ../sass/_type.scss */
.text-nowrap {
  white-space: nowrap;
}

/* line 157, ../sass/_type.scss */
.text-lowercase {
  text-transform: lowercase;
}

/* line 160, ../sass/_type.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 163, ../sass/_type.scss */
.text-capitalize {
  text-transform: capitalize;
}

/* line 166, ../sass/_type.scss */
.text-muted {
  color: #777777;
}

/* line 169, ../sass/_type.scss */
.text-primary {
  color: #428bca;
}

/* line 172, ../sass/_type.scss */
a.text-primary:hover {
  color: #3071a9;
}

/* line 175, ../sass/_type.scss */
.text-success {
  color: #3c763d;
}

/* line 178, ../sass/_type.scss */
a.text-success:hover {
  color: #2b542c;
}

/* line 181, ../sass/_type.scss */
.text-info {
  color: #31708f;
}

/* line 184, ../sass/_type.scss */
a.text-info:hover {
  color: #245269;
}

/* line 187, ../sass/_type.scss */
.text-warning {
  color: #8a6d3b;
}

/* line 190, ../sass/_type.scss */
a.text-warning:hover {
  color: #66512c;
}

/* line 193, ../sass/_type.scss */
.text-danger {
  color: #a94442;
}

/* line 196, ../sass/_type.scss */
a.text-danger:hover {
  color: #843534;
}

/* line 199, ../sass/_type.scss */
.bg-primary {
  color: #fff;
  background-color: #428bca;
}

/* line 203, ../sass/_type.scss */
a.bg-primary:hover {
  background-color: #3071a9;
}

/* line 206, ../sass/_type.scss */
.bg-success {
  background-color: #dff0d8;
}

/* line 209, ../sass/_type.scss */
a.bg-success:hover {
  background-color: #c1e2b3;
}

/* line 212, ../sass/_type.scss */
.bg-info {
  background-color: #d9edf7;
}

/* line 215, ../sass/_type.scss */
a.bg-info:hover {
  background-color: #afd9ee;
}

/* line 218, ../sass/_type.scss */
.bg-warning {
  background-color: #fcf8e3;
}

/* line 221, ../sass/_type.scss */
a.bg-warning:hover {
  background-color: #f7ecb5;
}

/* line 224, ../sass/_type.scss */
.bg-danger {
  background-color: #f2dede;
}

/* line 227, ../sass/_type.scss */
a.bg-danger:hover {
  background-color: #e4b9b9;
}

/* line 230, ../sass/_type.scss */
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

/* line 236, ../sass/_type.scss */
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 243, ../sass/_type.scss */
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

/* line 246, ../sass/_type.scss */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* line 250, ../sass/_type.scss */
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

/* line 255, ../sass/_type.scss */
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 260, ../sass/_type.scss */
dl {
  margin-top: 0;
  margin-bottom: 20px;
}

/* line 265, ../sass/_type.scss */
dt,
dd {
  line-height: 1.42857143;
}

/* line 268, ../sass/_type.scss */
dt {
  font-weight: bold;
}

/* line 271, ../sass/_type.scss */
dd {
  margin-left: 0;
}

@media (min-width: 768px) {
  /* line 275, ../sass/_type.scss */
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* line 284, ../sass/_type.scss */
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
/* line 289, ../sass/_type.scss */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}

/* line 293, ../sass/_type.scss */
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 297, ../sass/_type.scss */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}

/* line 305, ../sass/_type.scss */
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

/* line 310, ../sass/_type.scss */
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777;
}

/* line 318, ../sass/_type.scss */
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

/* line 322, ../sass/_type.scss */
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}

/* line 334, ../sass/_type.scss */
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}

/* line 342, ../sass/_type.scss */
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}

/* line 346, ../sass/_type.scss */
blockquote:before,
blockquote:after {
  content: "";
}

/* line 349, ../sass/_type.scss */
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}

/* line 2, ../sass/_custom.scss */
html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Droid Sans', Helvetica neue, Helvetica, 'Sans Serif';
}

/* line 6, ../sass/_custom.scss */
#menu {
  background: #1b1f23;
}

/* line 9, ../sass/_custom.scss */
#menu .pure-menu-selected {
  background: #FF4B33;
}

/* line 12, ../sass/_custom.scss */
#menu .pure-menu-heading {
  background: #1b1f23;
  font-size: 42px;
  padding: 5px;
}

/* line 17, ../sass/_custom.scss */
.indv-r-ctnr {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0;
}
/* line 23, ../sass/_custom.scss */
.indv-r-ctnr li {
  display: inline-block;
}

/* line 28, ../sass/_custom.scss */
#canvas-ctnr canvas {
  margin: 0 auto;
  display: block;
}

/* line 33, ../sass/_custom.scss */
.SlidersCtnr {
  padding: 10px 20px;
}

/* line 36, ../sass/_custom.scss */
.slider-grp {
  padding: 10px;
}

/* line 40, ../sass/_custom.scss */
#canvas-modify-ctnr p {
  text-align: right;
  background: rgba(46, 204, 113, 0.4);
  padding: 5px 20px;
  margin-top: 0;
}

/* line 48, ../sass/_custom.scss */
#canvas-ctnr p {
  text-align: left;
  background: rgba(46, 204, 113, 0.4);
  padding: 5px 20px;
  margin-top: 0;
}

/* Buttons */
/* line 58, ../sass/_custom.scss */
.buttons button {
  margin: 5px auto;
  display: block;
}
/* line 62, ../sass/_custom.scss */
.buttons p {
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  color: #34495E;
  text-shadow: 0px -1px 0px #34495e;
}

/* line 71, ../sass/_custom.scss */
.inputs input {
  margin: 5px auto;
  display: block;
}
/* line 75, ../sass/_custom.scss */
.inputs p {
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  color: #34495E;
  text-shadow: 0px -1px 0px #34495e;
}
/* line 82, ../sass/_custom.scss */
.inputs div {
  padding: 5px;
  box-sizing: border-box;
}

/* line 88, ../sass/_custom.scss */
.fancy-btn-ctn .black-bg {
  background: #1b1f23;
  border-radius: 4px;
}

/* line 93, ../sass/_custom.scss */
.btn-primary {
  border-radius: 2px;
  outline: 0;
  /*border: 2px solid #26A25A;*/
  padding: .5em 1em;
  background: #26A25A;
  color: #fff;
  font-size: 1em;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  zoom: 1;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 112, ../sass/_custom.scss */
.btn-primary:hover {
  background: #27ae60;
}

/* line 116, ../sass/_custom.scss */
button {
  border-radius: 2px;
  outline: 0;
  border: 0 rgba(0, 0, 0, 0);
  padding: .5em 1em;
  background: #e1f2fa;
  color: #5992aa;
  font-size: 1em;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  zoom: 1;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 135, ../sass/_custom.scss */
button:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

/* line 139, ../sass/_custom.scss */
.pure-button {
  font-size: 1em;
}

/* line 142, ../sass/_custom.scss */
.fancy-green {
  box-sizing: border-box;
  background: transparent;
  border: 2px solid #E4E4E4 !important;
  border-bottom: 1px solid #d5d6d6;
  border-radius: 5px;
  padding: 16px 28px;
  font-size: 18px;
  font-weight: 600;
  color: #E4E4E4;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 158, ../sass/_custom.scss */
.fancy-green:hover {
  background: #27ae60 !important;
  border: 2px solid #27ae60 !important;
  border-bottom: 1px solid #d5d6d6;
  color: #fff !important;
}

/* line 165, ../sass/_custom.scss */
.fancy-orange {
  box-sizing: border-box;
  background: none;
  border: 2px solid #e74c3c;
  border-radius: 5px;
  padding: 16px 28px;
  font-size: 18px;
  font-weight: 600;
  color: #e74c3c;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 180, ../sass/_custom.scss */
.fancy-orange:hover {
  background: #e74c3c;
  color: #fff;
}

/* line 185, ../sass/_custom.scss */
.fancy-black {
  box-sizing: border-box;
  background: #fff;
  border: 2px solid #303336 !important;
  border-bottom: 1px solid #d5d6d6;
  border-radius: 5px;
  padding: 16px 28px;
  font-size: 18px;
  font-weight: 600;
  color: #303336;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 201, ../sass/_custom.scss */
.fancy-black:hover {
  background: #303336 !important;
  border: 2px solid #303336 !important;
  border-bottom: 1px solid #d5d6d6;
  color: #fff !important;
}

/* buttons end */
/* inputs start */
/* line 210, ../sass/_custom.scss */
.input-control {
  padding: .59em 1em;
  font-size: 1em;
  color: #34495e;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
/* line 219, ../sass/_custom.scss */
.input-control:focus {
  outline: 0;
  box-shadow: none;
}

/* line 224, ../sass/_custom.scss */
.has-error {
  color: #e74c3c;
  border-color: #e74c3c;
  box-shadow: none;
}

/* line 229, ../sass/_custom.scss */
.has-success {
  color: #2ecc71;
  border-color: #2ecc71;
  box-shadow: none;
}

/* line 234, ../sass/_custom.scss */
.has-warning {
  color: #f0ad4e;
  border-color: #f0ad4e;
  box-shadow: none;
}

/* inputs end */
/* line 240, ../sass/_custom.scss */
.heading h3 {
  display: inline-block;
  padding: 1em 4em 1em 1em;
  margin: 0;
  background: #FF4B33;
  color: #fff;
}

/* line 248, ../sass/_custom.scss */
.form-others p {
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  color: #34495E;
  text-shadow: 0px -1px 0px #34495e;
}

/* line 256, ../sass/_custom.scss */
.align-center {
  padding: 10px;
  display: inline-block;
  position: absolute;
  left: 24%;
}

/* line 262, ../sass/_custom.scss */
.chebox-ctn {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

/* line 267, ../sass/_custom.scss */
.check-wrap {
  color: #2ecc71;
  cursor: pointer;
  line-height: 2em;
  padding: 0 0 0 40px;
  position: relative;
}
/* line 273, ../sass/_custom.scss */
.check-wrap i {
  font-size: 2em;
  position: absolute;
  left: 0;
}

/* line 279, ../sass/_custom.scss */
.responsive {
  background: #e0ebe8;
}
/* line 281, ../sass/_custom.scss */
.responsive a {
  display: block;
  padding: 35px 20px;
  border: 4px;
  box-sizing: border-box;
}
/* line 287, ../sass/_custom.scss */
.responsive img {
  border-radius: 6px;
}

/* line 292, ../sass/_custom.scss */
.tools img {
  margin: 0 auto;
}

/* line 296, ../sass/_custom.scss */
.type {
  padding: 20px 20px 20px 50px;
}
