<div class="overlay" ng-show="showOverlay">
    <div class="btn-container">
        <material-button class="material-button-colored" ng-click="editItem()">Edit</material-button>
        <material-button class="material-button-colored" ng-click="deleteItem()">Delete</material-button>
    </div>
</div>
<div class="row">
    <material-button class="material-button-fab material-theme-green round-button" ng-click="navigateToCreate()">
        <material-icon icon="img/icons/plus.svg" style="width: 24px; height: 24px;"></material-icon>
    </material-button>
</div>
<div layout="vertical" layout-fill>
    <material-content>

        <material-list>

            <material-item ng-repeat="item in activities track by $index">
                <div class="material-tile-content" hm-double-tap="doubleClick($index)">
                    <h2>{{item.title}}</h2>
                    <p>
                        {{item.description}}
                    </p>
                </div>
            </material-item>

        </material-list>

    </material-content>

</div>