html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Helvetica neue, Helvetica, 'Sans Serif';
}
#menu{
    background: #1b1f23;
}
#menu .pure-menu-selected, #menu .pure-menu-heading {
    background: #e74c3c;
}
.indv-r-ctnr{
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    li{
        display: inline-block;
    }    
}
#canvas-ctnr{
    canvas {
        margin: 0 auto;
        display: block;
    }
}
.SlidersCtnr {
    padding: 10px 20px;
}
.slider-grp {
    padding: 10px;
}
#canvas-modify-ctnr{
    p{
        text-align: right;
        background: rgba(#2ECC71, 0.40);
        padding: 5px 20px;
        margin-top: 0;
    }
}
#canvas-ctnr{
    p{
        text-align: left;
        background: rgba(#2ECC71, 0.40);
        padding: 5px 20px;
        margin-top: 0;
    }
}

/* Buttons */
.buttons{
    button{
        margin: 5px auto;
        display: block;
    }
    p{
        text-align: center;
    }
}
.fancy-btn-ctn{
    .black-bg{
        background: #1b1f23;
        border-radius: 4px;
    }
}
.btn-primary{
    border-radius: 2px;
    outline: 0;
    /*border: 2px solid #26A25A;*/
    padding: .5em 1em;
    background: #26A25A;
    color: #fff;
    font-size: 110%;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    zoom: 1;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
    &:hover{
        background: #27ae60;
    }
}
button{
    border-radius: 2px;
    outline: 0;
    border: 0 rgba(0,0,0,0);
    padding: .5em 1em;
    background: #e1f2fa;
    color: #5992aa;
    font-size: 110%;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    zoom: 1;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
    &:hover{
        background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    }
}
.pure-button{
    font-size: 110%;
}
.fancy-green{
    box-sizing: border-box;
    background: transparent;
    border: 2px solid #E4E4E4 !important;
    border-bottom: 1px solid #d5d6d6;
    border-radius: 5px;
    padding: 16px 28px;
    font-size: 18px;
    font-weight: 600;
    color: #E4E4E4;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
    &:hover{
        background: #27ae60 !important;
        border: 2px solid #27ae60 !important;
        border-bottom: 1px solid #d5d6d6;
        color: #fff !important;
    }
}
.fancy-orange{
    box-sizing: border-box;
    background: none;
    border: 2px solid #e74c3c;
    border-radius: 5px;
    padding: 16px 28px;
    font-size: 18px;
    font-weight: 600;
    color: #e74c3c;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
    &:hover{
        background: #e74c3c;
        color: #fff;
    }
}
.fancy-black{
    box-sizing: border-box;
    background: #fff;
    border: 2px solid #303336 !important;
    border-bottom: 1px solid #d5d6d6;
    border-radius: 5px;
    padding: 16px 28px;
    font-size: 18px;
    font-weight: 600;
    color: #303336;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
    &:hover{
        background: #303336 !important;
        border: 2px solid #303336 !important;
        border-bottom: 1px solid #d5d6d6;
        color: #fff !important;
    }
}
/* buttons end */
.heading h3{
    display: inline-block;
    padding: 1em 4em 1em 1em;
    margin: 0;
    background: #E74C3C;
    color: #fff;
}