.strike {
    text-decoration: line-through;
}
material-checkbox .material-label{
    border: none;
}
input[type="text"], textarea {
    border: none;
    border-bottom: 2px solid #3f51b5;
    width: 100%;
    margin: 10px;
    font-size: 16px;
}
.overlay{
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
}
.btn-container{
    background: #fff;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 35px 10px;
    box-sizing: border-box;
    margin-top: 100px;
}
.material-button.material-button-colored {
    width:110px;   
}
.round-button {
    margin: 5px auto;
    text-align: center;
    display: block;
}
.material-tile-content {
    padding: 10px 10px 0 10px;
}
.inputs{
    padding: 0 10px;
}
.material-tile-content p {
    font-size: inherit;
}
material-button.material-button-colored {
    width: 50%;
}
p{
    color: #33B5E5;
}